# Use root/example as user/password credentials

services:

  social-network-front:
    image: franklamine/social-network:0.0.1
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt


  api-social-network:
    image: franklamine/api-social-network:latest
    restart: always
    environment:
      APP_NAME: bdsocialnetwork
      SERVER_PORT: 8081
      DB_URL: jdbc:oracle:thin:@bdsocialnetwork_high?TNS_ADMIN=/opt/oracle/wallet
      DB_USERNAME: ADMIN
      DB_PASSWORD: frankLAMINE2050
      MAIL_HOST: smtp.gmail.com
      MAIL_PORT: 587
      MAIL_USERNAME: fokamfranklamine@gmail.com
      MAIL_PASSWORD: mpketfytanprtxky
      CLOUDINARY_API_KEY: 219962877927622
      CLOUDINARY_SECRET_KEY: ZT-0CfPTUlmEj7vGmvCS8ilwezw
      CLOUDINARY_NAME: dxi8oozub
      MAX_FILE_SIZE: 50GB
      MAX_REQUEST_SIZE: 150GB
    ports:
      - "8081:8081"
    dns:
      - 8.8.8.8
    volumes:
      - ./Wallet_bdsocialnetwork:/opt/oracle/wallet


  certbot:
    image: certbot/certbot

    volumes:
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
#
#    entrypoint: >
#      sh -c "certbot renew --webroot -w /var/www/certbot --quiet && sleep 12h"


#  docker compose run --rm certbot certonly --webroot --webroot-path=/var/www/certbot --email fokamfranklamine@mail.com --agree-tos --no-eff-email -d lfsol.cloud -d www.lfsol.cloud
#
#
#  frank@ubuntu-server:~$   docker compose run --rm certbot certonly --webroot --webroot-path=/var/www/certbot --email fokamfranklamine@mail.com --agree-tos --no-eff-email -d lfsol.cloud -d www.lfsol.cloud
#  Saving debug log to /var/log/letsencrypt/letsencrypt.log
#  Account registered.
#  Requesting a certificate for lfsol.cloud and www.lfsol.cloud
#
#  Successfully received certificate.
#Certificate is saved at: /etc/letsencrypt/live/lfsol.cloud/fullchain.pem
#Key is saved at:         /etc/letsencrypt/live/lfsol.cloud/privkey.pem
#  This certificate expires on 2026-03-16.
#  These files will be updated when the certificate renews.
#
#NEXT STEPS:
#  - The certificate will need to be renewed before it expires. Certbot can automatically renew the certificate in the background, but you may need to take steps to enable that functionality. See https://certbot.org/renewal-setup for instructions.
#
#  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
#If you like Certbot, please consider supporting our work by:
#  * Donating to ISRG / Let's Encrypt:   https://letsencrypt.org/donate
#  * Donating to EFF:                    https://eff.org/donate-le
#    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -



#  mariabd:
#    container_name: mariabd-11.8.1-noble-rc
#    image: mariadb:11.8.1-noble-rc
#    restart: always
#    environment:
#      MARIADB_ROOT_PASSWORD: frank
#      MARIADB_DATABASE: db-social-network
#    ports:
#      - "3308:3306"
#    volumes:
#      - volume-social-network:/var/lib/mysql
#
#  adminer:
#    container_name: adminer-5.3.0-standalone
#    image: adminer:5.3.0-standalone
#    restart: always
#    ports:
#      - "9080:8080"
#
#  smtp4dev:
#    image: rnwood/smtp4dev:v3
#    restart: always
#    ports:
#      # Change the number before : to the port the web interface should be accessible on
#      - '9081:80'
#      # Change the number before : to the port the SMTP server should be accessible on
#      - '9025:25'
#      # Change the number before : to the port the IMAP server should be accessible on
#      #- '143:143'
#
#volumes:
#  volume-social-network: